Debug/BullsAndCowsVS.tlog/BullsAndCowsVS.lastbuildstate
Debug/BullsAndCowsVS.tlog/CL.command.1.tlog
Debug/BullsAndCowsVS.tlog/CL.read.1.tlog
Debug/BullsAndCowsVS.tlog/CL.write.1.tlog
Debug/BullsAndCowsVS.tlog/link.command.1.tlog
Debug/BullsAndCowsVS.tlog/link.read.1.tlog
Debug/BullsAndCowsVS.tlog/link.write.1.tlog
Debug/vc141.idb
Release/BullsAndCowsVS.tlog/BullsAndCowsVS.lastbuildstate
Release/BullsAndCowsVS.tlog/BullsAndCowsVS.write.1u.tlog
Release/BullsAndCowsVS.tlog/CL.command.1.tlog
Release/BullsAndCowsVS.tlog/CL.read.1.tlog
Release/BullsAndCowsVS.tlog/CL.write.1.tlog
Release/BullsAndCowsVS.tlog/link.command.1.tlog
Release/BullsAndCowsVS.tlog/link.read.1.tlog
Release/BullsAndCowsVS.tlog/link.write.1.tlog
Release/BullsAndCowsVS.iobj
Release/BullsAndCowsVS.ipdb
.vs/BullsAndCowsVS/v15/ipch/AutoPCH/BULLSANDCOWSVS-96c12674/FBULLCOWGAME-39c61289/FBULLCOWGAME.ipch
.vs/BullsAndCowsVS/v15/ipch/AutoPCH/BULLSANDCOWSVS-96c12674/MAIN-5a78d476/MAIN.ipch
.vs/BullsAndCowsVS/v15/ipch/AutoPCH/BULLSANDCOWSVS-9a85842a/FBULLCOWGAME-425bdfbf/FBULLCOWGAME.ipch
.vs/BullsAndCowsVS/v15/ipch/AutoPCH/BULLSANDCOWSVS-d03e13c0/FBULLCOWGAME-759df6d5/FBULLCOWGAME.ipch
.vs/BullsAndCowsVS/v15/ipch/AutoPCH/BULLSANDCOWSVS-d03e13c0/MAIN-c872cc2/MAIN.ipch
.vs/BullsAndCowsVS/v15/Browse.VC.db
